  select, input{
    width:90px;
    height: 30px;
    border-radius: 5px;
    margin: 1px;
  }
input[type="number"]{
    width:90px;
    height: 25px;
    border-radius: 5px;
    margin: 1px;
}

input[type="button"]{
    width:60px;
    height: 30px;
    background-color: red;
    border: 2px solid red;
    color:white;
    margin-left:25px;
}

input[type="submit"]{
    width:60px;
    height: 30px;
    background-color: lightblue;
    border: 2px solid lightblue;
    color:white;
    margin:5px;
}

#Clear{
    width:60px;
    height: 30px;
    background-color: orange;
    border: 2px solid orange;
    color:white;
    margin:5px;
}


#Add_Rule{
    width:100px;
    height: 30px;
    background-color: green;
    border: 2px solid green;
    color:white;
    margin-left:130px;
}

#div2{
  display: none;
}

  
   